.root {
  width: 100%;
  max-width: 1280px;
  min-height: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('~static/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
